*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-max-width: 800px;
  --card-bg-color: #ffffff;
  scroll-behavior: smooth;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--focus);
  text-align: center;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.component-description p:last-child {
  margin-bottom: 0;
}
browser-window {
  --bw-background: var(--background-alt);
  display: block;
}

browser-window::part(base) {
  border-color: var(--border);
}

lorem-ipsum {
  display: block;
  height: 300px;
  overflow: auto;
  overscroll-behavior: contain;
}

lorem-ipsum:not(:defined) {
  display: none;
}

form input[name="count"] {
  min-width: 130px;
}

form input[type="checkbox"] {
  min-width: 16px;
}

form input[type="submit"] {
  margin: 16px 0 0 0;
}

form > div:not(:first-of-type) {
  display: flex;
}
